body{
background-color:pink;
font-family:'Segoe UI', sans-serif;
font-size:12;
margin: auto;
}

table{
margin: auto;
border-collapse:collapse;
padding: 10px;


}
th, td{

padding:10px;
text-align:center;
}
th{
background-color:orange;
font-weight:bold;
}
tr:nth-child(even){
background-color:lightgray;
}
tr:hover{
background-color:lightblue;}
h1{
color:darkgreen;
text-align: center;
}
p{
color:maroon;
text-align: center;
}
.accordion{
width:90%;

margin:20px auto;
}
.accordionitem{
border:1px solid #ddd;
margin-bottom:5px;
}
.accordionitemheader{
color:purple;
}
.accordionitembody{
display:none;
background-color:grey;
border-top:1px solid #ddd;
}
.accordionitemheader::after{
content:"\002B";
font-size:1rem;
position:absolute;
right:1rem;

}.accordionitemheader.active::after{
content:"\2212";}
.accordionitemheader.active{
color:red;}

.accordionitemheader.active + .accordionitembody{
display:block;
}

#add-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    }

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
    margin: auto;
    margin-top: 77px;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(250, 250, 255);
}
.navbar{
    position: fixed;
    border-radius: 20px 20px 20px 20px;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(128, 0, 0);
}
.navbar > :nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(128, 0, 0) ;
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar a:hover {
    background-color: rgb(124, 12, 27);
}
.active{
    text-decoration: underline !important;
}
.navbar img{
    width: 60px;
    padding: 10px;
}

#footer {
    text-align: start;
    font-size: small;
}


























