body{
background-color:pink;
font-family:Times New Roman;
font-size:12:
}
table{

border-collapse:collapse;


}
th, td{

padding:10px;
text-align:center;
}
th{
background-color:orange;
font-weight:bold;
}
tr:nth-child(even){
background-color:lightgray;
}
tr:hover{
background-color:lightblue;}
h1{
color:darkgreen;
}
p{
color:maroon;
}
.accordion{
width:90%;

margin:20px auto;
}
.accordionitem{
border:1px solid #ddd;
margin-bottom:5px;
}
.accordionitemheader{
color:purple;
}
.accordionitembody{
display:none;
background-color:grey;
border-top:1px solid #ddd;
}
.accordionitemheader::after{
content:"\002B";
font-size:1rem;
position;absolute;
right:1rem;

}.accordionitemheader.active::after{
content:"\2212";}
.accordionitemheader.active{
color:red;}

.accordionitemheader.active + .accordionitembody{
display:block;
}




























